<header>
  <div class='all_header'>
    <a><img alt="サイトロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
    <div class='text_form'>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <%= f.search_field :roomAddress_cont, class:"simple_search" %>
        <i class="fas fa-map-marker-alt"></i>
      <% end %>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <%= f.search_field :roomName_cont, class:"simple_search" %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class='user_name'><%= @current_user.name%></div>
    <% if @current_user.image.attached? %>
      <%= image_tag @current_user.image, class: "user_icon"%>
    <% else %>
      <%= image_tag 'no_image', class: "user_icon" %>
    <% end %>
  </div>
</header>
<ul class="menu_ul">
  <li class="menu_li"><%= link_to 'ルーム登録', users_register_path %></li>
  <li class="menu_li"><%= link_to '予約済みルーム一覧', registers_index_path %></li>
  <li class="menu_li"><%= link_to '登録済みルーム一覧', users_path %></li>
  <li class="menu_li"><%= link_to '設定', edit_user_path(id: @user) %></li>
  <li class="menu_li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
</ul>

<table class='account_table'>
  <tr>
    <td>¥<%= @register.roomMoney %>/日</td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @register.start_date %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @register.id %></td>
  </tr>
  <tr>
    <th>使用日数</th>
    <td class = 'totalDate'><%= (@register.end_date - @register.start_date) %></td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= @register.number %></td>
  </tr>
  <tr>
    <th>合計金額</th>
    <td class="totalMoney"><%= ((@register.end_date - @register.start_date) * (@register.roomMoney)) * (@register.number) %></td>
  </tr>
</table>

<%= form_with model: @register do |form| %>
	<%= form.hidden_field :roomName %>
	<%= form.hidden_field :roomAddress %>
	<%= form.hidden_field :roomIntroduction %>
  <%= form.hidden_field :roomMoney %>
  <%= form.hidden_field :start_date %>
	<%= form.hidden_field :end_date %>
  <%= form.hidden_field :roomMoney %>
  <%= form.hidden_field :number %>
  <%= form.hidden_field :registerImage %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :room_id %>
	<%= form.submit '送信する' %>
  <%= link_to '戻る', :back %>
<% end %>
<script>
$(document).ready(function() {
  let date = $('.totalDate').text().replace('/1', '');
    $('.totalDate').text(date);
  let money = $('.totalMoney').text().replace('/1', '');
    $('.totalMoney').text(money)
  });
</script>
