<header>
  <div class='all_header'>
    <a><img alt="サイトロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
    <div class='text_form'>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <%= f.search_field :roomAddress_cont, class:"simple_search" %>
        <i class="fas fa-map-marker-alt"></i>
      <% end %>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <%= f.search_field :roomName_cont, class:"simple_search" %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class='user_name'><%= @current_user.name%></div>
      <% if @current_user.image.attached? %>
        <%= image_tag @current_user.image, class: "user_icon"%>
      <% else %>
        <%= image_tag 'no_image', class: "user_icon" %>
      <% end %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class:'session' %>
      <%= link_to '登録する', new_user_registration_path, class:'registration'%>
    <% end %>
  </div>
</header>
<ul class="menu_ul">
  <li class="menu_li"><%= link_to 'ルーム登録', users_register_path %></li>
  <li class="menu_li"><%= link_to '予約済みルーム一覧', registers_index_path %></li>
  <li class="menu_li"><%= link_to '登録済みルーム一覧', users_path %></li>
  <li class="menu_li"><%= link_to '設定', edit_user_path(id: @user) %></li>
  <li class="menu_li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
</ul>
<h3>予約済みルーム一覧</h3>
<table>
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>合計料金</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>予約確定日時</th>
    </tr>
  </thead>

  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <td><%= image_tag register.registerImage if register.registerImage? %></td>
        <td><%= link_to register.roomName, rooms_register_path(id: register.room.id) %></td>
        <td><%= register.roomIntroduction %></td>
        <td><%= register.roomMoney %></td>
        <td><%= register.start_date %></td>
        <td><%= register.end_date %></td>
        <td><%= register.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
