<header>
  <div class='all_header'>
    <a><img alt="サイトロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
    <div class='text_form'>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <%= f.search_field :roomAddress_cont, class:"simple_search" %>
        <i class="fas fa-map-marker-alt"></i>
      <% end %>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <%= f.search_field :roomName_cont, class:"simple_search" %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class='user_name'><%= @current_user.name%></div>
      <% if @current_user.image.attached? %>
        <%= image_tag @current_user.image, class: "user_icon"%>
      <% else %>
        <%= image_tag 'no_image' %>
      <% end %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class:'session' %>
      <%= link_to '登録する', new_user_registration_path, class:'registration'%>
    <% end %>
  </div>
</header>
<ul class="menu_ul">
  <li class="menu_li"><%= link_to 'ルーム登録', users_register_path %></li>
  <li class="menu_li"><%= link_to '予約済みルーム一覧', registers_index_path %></li>
  <li class="menu_li"><%= link_to '登録済みルーム一覧', users_path %></li>
  <li class="menu_li"><%= link_to '設定', edit_user_path(id: @user) %></li>
  <li class="menu_li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
</ul>
 <h3>ルーム情報登録</h3>
 <%= form_with model: @room, local: true do |f| %>
   <table>
     <tr>
       <th><%= f.label :roomName, "ルーム名" %></th>
       <td><%= f.text_field :roomName, class:"room-name" %></td>
     </tr>
     <tr>
       <th><%= f.label :roomIntroduction, "ルーム紹介" %></th>
       <td><%= f.text_area :roomIntroduction, class:"room-introduction" %></td>
     </tr>
     <tr>
       <th><%= f.label :roomMoney, "料金" %></th>
       <td><%= f.number_field :roomMoney, class:"room-money" %></td>
     </tr>
     <tr>
       <th><%= f.label :roomAddress, "住所" %></th>
       <td><%= f.text_field :roomAddress, class:"room-address" %></td>
     </tr>
     <tr>
       <th><%= f.label :image, "ルーム画像" %></th>
			 <td><%= f.file_field :image, accept: "image/*" %></td>
     </tr>
   </table>
   <%= f.hidden_field :user_id, value: @current_user.id %>
   <%= f.hidden_field :email, value: @current_user.email %>
   <%= f.hidden_field :password_confirmation, value: @current_user.encrypted_password %>
    <div>
     <ul>
       <li><%= f.submit "投稿を完了する"%></li>
     </ul>
    </div>
 <% end %>
